{% extends 'main.html' %}

{% block title %}Login{% endblock %}

{% block form %}
<div class="popup-lightbox">
  <div class="middle-center shadowed popup">
      <a href="{% url 'main' %}"><span class="glyphicon glyphicon-remove"></span></a>
      <div id="chance" class="popup-page">
            <div class="popup-title">Login</div>
            <div class="popup-content">
                    <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Login</button>
                    </form>
                    <a href="{% url 'signup' %}"><span>Register New User</span></a>
            </div>
              
      </div>
  </div>
</div>
{% endblock %}