{% extends 'base.html' %}


{% block title %}Oregon Trail{% endblock %}

{% block content %}
<div class="page">
    <div class="header-container"><span class="header">Welcome To Oregon Trail</span></div>
    <div>
        <div class="col-sm-1">
        </div>
        <div class="left-menu col-sm-2">
            <ul class="options">
                <a href="{% url 'login' %}"><li class="login-open">Login</li></a><hr>
                <a href="{% url 'signup' %}"><li class="register-open">Register</li></a>
            </ul>
        </div>
        <div class="col-sm-1">
            </div>
        <div class="right-rules col-sm-7">
            <span class="game-guide-head">How to Play the Game:</span>
            <ul class="game-guide-body">
                <li>Rule 1</li>
                <li> Rule 2</li>
                <li> Tippppppppppppppp1 </li>
                <li> Tippppppppppppppp1 </li>

                <li> Tippppppppppppppp1 </li>
                <li> Tippppppppppppppp1 </li>
                <li> Tippppppppppppppp1 </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block form %}

{% endblock %}