body{
    margin: 0px;
}

.header-container{
    background-color: white;
    display: inline-block;
    padding: 0px 25px;
    margin: auto 0px;
}

.header{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 80px;
    color: #28B463;
}

.header:hover{
    color: #E74C3C;
    font-size: 90px;
    cursor: pointer;
}

.page{
    background-image: url("../images/mainimage.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.left-menu, .right-rules{
    margin-left: 0px;
    display: inline-block;
    -webkit-box-shadow: 10px 10px 95px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 95px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 95px 0px rgba(0,0,0,0.75);
    background-color: #DDDED2;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.left-menu{
   position:top;
}

.login-open, .register-open{
    padding: 10px;
    cursor: pointer;
    
}

.login-open:hover, .register-open:hover{
    background-color:  #8E8E86;
}

.options {
    list-style-type: none;
    padding: 7px 10px;
}

hr{
    margin:5px;
}


.right-rules{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
}

.middle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.popup-lightbox{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.5);
    font-size: 25px;
    font-family: Arial;
}

.shadowed{
    -webkit-box-shadow: 3px 3px 23px 0px rgba(50, 50, 50, 0.75);
       -moz-box-shadow:    3px 3px 23px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         3px 3px 23px 0px rgba(50, 50, 50, 0.75);	
   }

.clickable{
	cursor:pointer;
}

.popup{
    background-color:white;
    width:50%;
    height:auto;
}

.glyphicon-remove{
    position: absolute;
    right:10px;
    top: 10px;
    color:white;
}

.popup .popup-title{
    background-color: blueviolet;
    padding: 10px;
}

.popup .popup-content{
    padding: 10px;
    font-size: 20px;
}